
<p id="notice"><%= notice %></p>


<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Breed</th>
      <th>Fee</th>
      <th>Available</th>
      <th>User</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.name %></td>
        <td><%= listing.description %></td>
        <td><%= listing.breed %></td>
        <td><%= number_to_currency(listing.fee) %></td>
        <td><%= listing.available %></td>
        <td><%= listing.user_id %></td>
        <td><%= listing.category.name %></td>
        <td><%= link_to 'View', listing, class: "button"%></td>
        <% if current_user && current_user.id == listing.user_id %>
          <td><%= link_to 'Edit', edit_listing_path(listing), class: "button" %></td>
          <td><%= link_to 'Destroy', listing, class: "button", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Post A New Listing', new_listing_path, class: "button button-primary" %>
