<span>
<p id="notice"><%= notice %></p>



<div>
 <% if @listing.picture.attached? %>
  <%= image_tag @listing.picture, alt: @listing.name, width: 450 %>
<% else %>
  <%= image_tag "https://placedog.net/400/500?r", alt: @listing.name %>
<% end %>
</div>



<% if !@listing.available %>
  <h3> I've been Adopted! ❤️</h3>
<% elsif current_user && current_user.id == @listing.user_id %>
  <h3> You are viewing your listing!</h3> 
<% elsif current_user %>
  <%= button_to "Adopt me!", place_order_path, class: "button button-primary"%>
<% else %>
  <h3> Please log in to adopt a fur-friend </h3>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @listing.breed %>
</p>


<p>
  <strong>Fee:</strong>
  <%= number_to_currency(@listing.fee) %>
</p>

<p>
  <strong>Available:</strong>
  <%= @listing.available %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>
<% if current_user && current_user.id == @listing.user_id %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "button button-primary" %>
<% end %>
<%= link_to 'Back', listings_path, class: "button button-primary" %>
</span>
